<div id="purchase-by-id-wrapper">

  <div id="inner-wrapper">

    <form (submit)="getPurchaseById(getForm)" #getForm="ngForm" autocomplete="off">

      <div class="purchase-id-wrapper">
        <label class="block-label">Purchase ID</label>
        <input type="number" name="purchaseID" #purchaseID="ngModel" ngModel required>
      </div>

      <div id="submit-wrapper">
        <button type="submit" [disabled]="getForm.invalid">Find</button>
      </div>

    </form>

    <div *ngIf="isPurchaseExsist == true">
      <table>
        <th>Purchase amount</th>
        <th>Purchase date</th>
        <th>Purchase coupon</th>
        <th>Purchased by (username)</th>
        <tr>
          <td>{{purchase.purchaseAmount}}</td>
          <td>{{purchase.purchaseDate}}</td>
          <td>
            <button (click)="openCouponInfo()"> {{purchase.coupon.couponTitle}}</button>
          </td>
          <td>
            <button (click)="openUserInfo()"> {{purchase.user.username}}</button>
          </td>
          <td>
            <button (click)="removePurchase(purchase)"> Remove</button>
          </td>
        </tr>
      </table>
    </div>

  </div>

  <app-coupon-modal [coupon]="purchase.coupon" *ngIf="showCouponInfoModal"
    (closeModalEmmiter)="showCouponInfoModal = false"></app-coupon-modal>

  <app-user-modal [user]="purchase.user" *ngIf="showUserInfoModal" (closeModalEmmiter)="showUserInfoModal = false">
  </app-user-modal>