.modal-wrapper {
    z-index: 10;
    width: 35%;
    height: 60%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 100px auto auto auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.model-backdoor {
    background: #000;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    ;
}

h4 , .submit-wrapper{
    text-align: center
}

.x-close {
    position: absolute;
    right: 26px;
    cursor: pointer;
}

button, input ,select, textarea{
    border-radius: 5px;
}

input, select, textarea{
    margin-left: 2%;
}

.start-end-date-wrapper input {
    width: 47%;
}

.msg-wrapper label {
    vertical-align: top;
}
