<div id="company-purchases-wrapper">

  <div id="inner-wrapper">

    <table>
      <th>Purchase amount</th>
      <th>Purchase date</th>
      <th>Purchase coupon</th>
      <th>Purchased by (username)</th>
      <tr *ngFor="let purchase of purchases">
        <td>{{purchase.purchaseAmount}}</td>
        <td>{{purchase.purchaseDate}}</td>
        <td>
          <button (click)="openCouponInfo(purchase.coupon)"> {{purchase.coupon.couponTitle}}</button>
        </td>
        <td>
          <button (click)="openUserInfo(purchase.user)"> {{purchase.user.username}}</button>
        </td>
        <td>
          <button (click)="removePurchase(purchase)"> Remove</button>
        </td>
      </tr>
    </table>

  </div>

</div>

<app-coupon-modal [coupon]="selectedCoupon" *ngIf="showCouponInfoModal"
  (closeModalEmmiter)="showCouponInfoModal = false"></app-coupon-modal>

<app-user-modal [user]="selectedUser" *ngIf="showUserInfoModal" (closeModalEmmiter)="showUserInfoModal = false">
</app-user-modal>