<div class="model-backdoor"></div>

<div class="modal-wrapper" ngDraggable>

  <span class="x-close" (click)="closeModal()">X</span>

  <h4 class="modal-title">Coupon info</h4>

  <p><b>Coupon title:</b> {{coupon.couponTitle}}</p>
  <!-- change to image input -->
  <p><b>Coupon image:</b> {{coupon.image}}</p>
  <p><b>Coupon massage:</b> {{coupon.couponMessage}}</p>
  <p><b>Coupon category:</b> {{coupon.categoryType}}</p>
  <p><b>Coupon price:</b> {{coupon.couponPrice}} $</p>
  <p><b>Coupon units in stock:</b> {{coupon.unitsInStock}}</p>
  <p><b>Coupon start date:</b> {{coupon.startDate}}</p>
  <p><b>Coupon end date:</b> {{coupon.endDate}}</p>

</div>